<p><%= link_to "Create New Content Descriptor", new_content_descriptor_path %> </p>

<h2>All Content Descriptors:</h2>

 <table>
  <tr>
    <th>Code</th>
    <th>Title</th>
    <th>Description</th>
    <th>Elaborations</th>
    <th>Learning Area</th>
    <th>Subject</th>
    <th>Year Level(s)</th>
    <th>Knowledge</th>
    <th>Understanding</th>
    <th>Skills</th>
    <th>Notes</th>
    <th>Edit / Delete</th>
  </tr>
  


  <% @content_descriptors.each do |cd |  %>
        <tr>
            <td> 
               <%= link_to cd.code, "https://www.australiancurriculum.edu.au/Search?q=" + cd.code %>
                
            </td> 
            <td>
                <%= cd.title  %> 
            </td>
            <td> 
                <%= cd.description %>
            </td>
            <td> 
                <%= cd.elaborations %>
            </td>
            <td> 
                <%= cd.learning_area.name %>
            </td>
            <td> 
                <%= cd.subject.name %>
            </td>
            <td>
                <%= cd.year.label %>
            </td>
            <td>
                <%= cd.knowledge %>
            </td>
            <td>
                <%= cd.understanding %>
            </td>
            <td>
                <%= cd.skills %>
            </td>
            <td>
                <%= cd.notes %>
            </td>
            
            <td> 
                <ul>
                     <li><%= link_to "Edit", edit_content_descriptor_path(cd.id) %></li>
                   
                    <li><%= button_to "Delete", content_descriptor_path(cd.id), method: 'delete', form: { data: { turbo_confirm: "Are you sure? This action cannot be undone" }} %></li>
                    
                </ul>
            </td>
        </tr>
        
    
    <% end  %>
</table> 
