p><%= link_to "Create Class Group",new_class_group_path %> </p>

<h2>All Classes:</h2>

 <table>
  <tr>
   t.text "class_code"
    t.string "name"
    t.text "description"
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false
    t.integer "user_id"
    t.integer "learning_area_id"

    <th>Class Code</th>
    <th>User</th>
    <th>Label</th>
    <th>Learning Area</th>
    <th>Subject</th>
    <th>Description</th>
  </tr>

  <% @class_group.each do |group |  %>
        <tr>
            <td> <%= link_to group.class_code, class_group_path(group.id) %> 
            </td> 
            <td> <%= group.user_id.name %>
            </td>
            <td>
             <%= group.name %>
            </td>
            <td>
             <%= group.learning_area_id.name %>
            </td>
            <td>
             TODO: Link Subject
            </td>
            <td>
             <%= group.description %>
            </td>
            <td> 
                <ul>
                     <li><%= link_to "Edit", edit_class_group_path(group.id) %></li>
                   
                    <li><%= button_to "Delete", class_group_path(group.id), method: 'delete' %></li>
                    
                </ul>
            </td>
        </tr>
        
    
    <% end  %>
</table> 


