<div>
    <% if @learning_area.errors.any? %>
            <strong>Please corrrect the following:</strong>
            <ul>
                <% @learning_area.errors.full_messages.each do |e| %>
                    <li><%= e %></li>

                <% end %>
            </ul>

    <% end  %>



    <%= form_with model: @learning_area,  local: true do |f| %>

        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.submit class:"button" %>

    <% end  %>

</div>